<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Vue练习</title>
    <script src="./jquery-3.4.1.js"></script>
    <link href="./bootstrap.css" rel="stylesheet">
    <script src="./bootstrap.js"></script>
    <script src="./vue.js"></script>
    <style>
        .red {
            background-color: red
        }

        .green {
            background-color: green
        }

        .blue {
            background-color: blue
        }

        .yellow {
            background-color: yellow
        }
    </style>
</head>

<body>
    <div id="div1">
        {{message.name}}
    </div>
    <div>
        <button id="btn_click_count" v-on:click='count'>点击了{{clickCount}}次</span>
    </div>
    <h1>点击事件冒泡</h1>
    <div id="grandparent" class="red" v-on:click="alertName">
        grandparent
        <div id="parent" class="green" v-on:click="alertName">
            parent
            <div id="me" class="blue" v-on:click.stop="alertName">
                me
                <div id="son" class="yellow" v-on:click="alertName">
                    son
                </div>
            </div>
        </div>
    </div>
    <div id="div_if">
        <button v-on:click="lottery" class="btn btn-info">点击抽奖</button>
        <div v-if="number>80">兰博基尼</div>
        <div v-else-if="number>60">豪华别墅</div>
        <div v-else-if="number>40">自行车</div>
        <div v-else-if="number>20">微信红包5元</div>
        <div v-else>谢谢惠顾</div>
    </div>
    <div id="div_for">
        <table border="1" style="width: 200px" align="center">
            <tr style="background-color: darkgray">
                <td style="width: 50%; text-align: center">name</td>
                <td style="text-align: center">number</td>
            </tr>
            <tr v-for="player in players">
                <td style="text-align: center">{{player.name}}</td>
                <td style="text-align: center">{{player.numer}}</td>
            </tr>
        </table>
    </div>
    <div id="div_href">
        <a v-bind:href="page">百度</a>
    </div>
    <div id="div_double_bind">
        得分数 : <input v-model="score" />
        <button @click="doClick">提交数据</button>
    </div>
    <h2>computed 和 methods 的区别</h2>
    computed 是有缓存的，只要rmb没有变化，dollar 会直接返回以前计算出来的值，而不会再次计算。 这样如果是复杂计算，就会节约不少时间。
    而methods每次都会调用
    <div id="div_calc">
        <table border="1" >
            <tr style="background-color: darkgray">
            <td style="width:50%; text-align: center">人民币</td>
            <td style="width:50%; text-align: center">美元</td>
            </tr>
            <tr>
                <td style="text-align: center" colspan="2">汇率: <input type="number" v-model.number="exchange"/></td>
            </tr>
            <tr>
                <td>￥: <input type="number" v-model.number="rmb"/></td>
                <td>$: <span>{{dollar}}</span></td>
            </tr>
        </table>
    </div>
    <script>
        var kobe = { "name": "Kobe", "number": "24" };
        new Vue({
            el: '#div1',
            data: {
                message: kobe
            }
        });
        new Vue({
            el: '#btn_click_count',
            data: {
                clickCount: 0
            },
            methods: {
                count: function () {
                    this.clickCount++;
                }
            }
        });
        new Vue({
            el: '#grandparent',
            data: {
                id: ''
            },
            methods: {
                alertName: function () {
                    this.id = event.currentTarget.id;
                    alert(this.id)
                }
            }
        });
        new Vue({
            el: '#div_if',
            data: {
                number: 0
            },
            methods: {
                lottery: function lottery() {
                    this.number = Math.random() * 100;
                }
            }
        });
        var players = [
            { name: 'Kobe', numer: '24' },
            { name: 'James', numer: '23' },
            { name: 'Jordan', numer: '23' }
        ];
        new Vue({
            el: '#div_for',
            data: {
                players: players
            }
        });
        new Vue({
            el: '#div_href',
            data: {
                page: 'http://baidu.com'
            }
        });
        new Vue({
            el: "#div_double_bind",
            data: {
                score: 0
            },
            methods: {
                doClick: function () {
                    alert(this.score);
                }
            }
        });
        new Vue({
            el: "#div_calc",
            data: {
                rmb: 0,
                exchange:7.0
            },
            computed: {
                dollar: function(){
                    return this.rmb / this.exchange;
                }
            }
        });
    </script>
</body>

</html>