<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>learn_servlet.HelloServlet</servlet-name>
        <servlet-class>learn_servlet.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>learn_servlet.HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>learn_servlet.LoginServlet</servlet-name>
        <servlet-class>learn_servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>learn_servlet.LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>learn_servlet.LifecycleServlet</servlet-name>
        <servlet-class>learn_servlet.LifecycleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>learn_servlet.LifecycleServlet</servlet-name>
        <url-pattern>/lifecycle</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>learn_servlet.UploadPhotoServlet</servlet-name>
        <servlet-class>learn_servlet.UploadPhotoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>learn_servlet.UploadPhotoServlet</servlet-name>
        <url-pattern>/uploadPhoto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>learn_servlet.HeroServlet</servlet-name>
        <servlet-class>learn_servlet.HeroServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>learn_servlet.HeroServlet</servlet-name>
        <url-pattern>/hero</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>learn_servlet.AddHeroServlet</servlet-name>
        <servlet-class>learn_servlet.AddHeroServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>learn_servlet.AddHeroServlet</servlet-name>
        <url-pattern>/addHero</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>learn_servlet.DeleteServlet</servlet-name>
        <servlet-class>learn_servlet.DeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>learn_servlet.DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>learn_servlet.UpdateHeroServlet</servlet-name>
        <servlet-class>learn_servlet.UpdateHeroServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>learn_servlet.UpdateHeroServlet</servlet-name>
        <url-pattern>/updateHero</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>learn_servlet.EditHeroServlet</servlet-name>
        <servlet-class>learn_servlet.EditHeroServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>learn_servlet.EditHeroServlet</servlet-name>
        <url-pattern>/editHero</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>learn_servlet.cart.ProductListServlet</servlet-name>
        <servlet-class>learn_servlet.cart.ProductListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>learn_servlet.cart.ProductListServlet</servlet-name>
        <url-pattern>/listProduct</url-pattern>
    </servlet-mapping>

    <!--    filter-->
    <filter>
        <filter-name>learn_servlet.filter.FirstFilter</filter-name>
        <filter-class>learn_servlet.filter.FirstFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>learn_servlet.filter.FirstFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>learn_servlet.filter.EncodingFilter</filter-name>
        <filter-class>learn_servlet.filter.EncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>learn_servlet.filter.EncodingFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>learn_servlet.listener.ContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>learn_servlet.listener.SessionListener</listener-class>
    </listener>

    <listener>
        <listener-class>learn_servlet.listener.SessionAttributeListener</listener-class>
    </listener>

</web-app>